@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Avi Shukri lives in Holon and is 25 years old.<br />
        Nativ Sibony The 27-year-old lives in Yavne.<br />
        We are Software engineer with knowledge of Java, CPP, C, Python and C #.<br />
        We also learned the Web field independently, the languages that ​​We know are: css, js, React, Angular, Node.js.<br />
        We are very interested in the whole web world.<br />
        In addition, we did many projects in the mobile field (Android and IOS) and we have a big passion for the world of programming.<br />
    </p>

</div>
